.container {
  border: 2px solid #303030;
  border-radius: 10px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: #292929;
  padding: 25px;
}
.img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  background-color: #242424;
}
.ul {
  display: flex;
  justify-content: center;
  border: 2px solid #303030;
  border-radius: 5px;
}
.li {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #303030;
}
.li:last-child {
  border: none;
}

.span {
  font-size: 25px;
}
